<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoodMon-Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>moodMon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>todayApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE4A8A321CABCCB1006B73B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4A8A4B1CABCCB1006B73B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4A8A561CABCCB1006B73B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E92D2EF31D3BBFB100E44264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E92D2F0A1D3C04E600E44264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
